<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>SigninServlet</servlet-name>
    <servlet-class>algonquin.controller.SigninServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>algonquin.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>algonquin.controller.SignupServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListSurplusServlet</servlet-name>
    <servlet-class>algonquin.controller.ListSurplusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListItemServlet</servlet-name>
    <servlet-class>algonquin.controller.ListItemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateItemServlet</servlet-name>
    <servlet-class>algonquin.controller.CreateItemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateItemServlet</servlet-name>
    <servlet-class>algonquin.controller.UpdateItemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteItemServlet</servlet-name>
    <servlet-class>algonquin.controller.DeleteItemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateOrderServlet</servlet-name>
    <servlet-class>algonquin.controller.CreateOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListOrderServlet</servlet-name>
    <servlet-class>algonquin.controller.ListOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ApproveOrderServlet</servlet-name>
    <servlet-class>algonquin.controller.ApproveOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UnsubscribeServlet</servlet-name>
    <servlet-class>algonquin.controller.UnsubscribeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubscribeServlet</servlet-name>
    <servlet-class>algonquin.controller.SubscribeServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SubscribeServlet</servlet-name>
    <url-pattern>/subscribe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UnsubscribeServlet</servlet-name>
    <url-pattern>/unsubscribe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ApproveOrderServlet</servlet-name>
    <url-pattern>/approveOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListOrderServlet</servlet-name>
    <url-pattern>/listOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateOrderServlet</servlet-name>
    <url-pattern>/createOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteItemServlet</servlet-name>
    <url-pattern>/deleteItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateItemServlet</servlet-name>
    <url-pattern>/updateItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateItemServlet</servlet-name>
    <url-pattern>/createItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListItemServlet</servlet-name>
    <url-pattern>/listItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListSurplusServlet</servlet-name>
    <url-pattern>/listSurplusItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SigninServlet</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>
